
.randomized_*.csv
randomized_*.csv
.Randomized.csv


test/
log/
.log/
data/
output/
outputs/
output_*/
segmented/
.DS_Store

*.c
*.so
*.csv

venv/

build/
*/build
*/**/build/

__pycache__/
*/__pycache__/
*/**/__pycache__/
